.container{
    max-width: 300px;
    max-height: 400px;
    margin: 50px auto;
    padding: 20px ;
    background-color:#f7f7f7 ;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(239, 111, 111, 0.2);}
.h1{
    text-align: center;

}
label{
    font-weight: bold;

}
.form-control{
    margin-bottom: 15px;
}
.btn-primary{
    width: 100%;
    background-color: blue;
    border-radius:10px;
    color:#fff;
}